jobs:
  build:
    executor:
      name: node/default
      tag: '10.16'
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
      - run: npm run build
      - run: npm run test
      - store_test_results:
        path: reports
orbs:
  node: circleci/node@1.1
version: 2.1

