# DEFAULTS
defaults: &defaults
  working_directory: ~/build_only

# COMMANDS
commands:
  build:
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm ci
      - run: npm run build
  test:
    steps:
      - run: npm run test:ci
      - store_test_results:
          path: reports
  test-integration:
    steps:
      - run: |
          cd testIntegration
          npm run test:ci
      - store_test_results:
          path: reports

# EXECUTORS
executors:
  node-10:
    <<: *defaults
    docker:
      - image: cimg/node:10.24.1
  node-12:
    <<: *defaults
    docker:
      - image: cimg/node:12.22.1
  node-14:
    <<: *defaults
    docker:
      - image: cimg/node:14.17.0
  node-16:
    <<: *defaults
    docker:
      - image: cimg/node:15.0.0
# JOBS
jobs:
  build-node-10:
    executor: node-10
    steps:
      - build
      - test
      - test-integration

  build-node-12:
    executor: node-12
    steps:
      - build
      - test
      - test-integration

  build-node-14:
    executor: node-14
    steps:
      - build
      - test
      - test-integration

  build-node-16:
    executor: node-16
    steps:
      - build
      - test
      - test-integration

  publish:
    executor:
      name: node/default
      tag: '10.20.1'
    working_directory: ~/publish
    steps:
      - build
      - run:
          name: Create npmrc file to authenticate with npm registry.
          command: echo "//registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN" > ~/.npmrc
      - run: npm publish

# WORKFLOWS
workflows:
  version: 2
  build-and-test:
    jobs:
      - build-node-10:
          filters:
            tags:
              ignore: /^v.*/
      - build-node-12:
          filters:
            tags:
              ignore: /^v.*/
      - build-node-14:
          filters:
            tags:
              ignore: /^v.*/
      - build-node-16:
          filters:
            tags:
              ignore: /^v.*/

  build-test-deploy:
    jobs:
      - build-node-10:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - build-node-12:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - build-node-14:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - build-node-16:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - confirm-publish-if-tagged:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          type: approval
          requires:
            - build-node-10
            - build-node-12
            - build-node-14
            - build-node-16
      - publish:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          requires:
            - confirm-publish-if-tagged

# ORBS
orbs:
  node: circleci/node@1.1

#VERSION
version: 2.1

