jobs:
  build:
    environment:
      COMMERCE_SDK_INPUT_DIR: ../test/raml/valid/
    working_directory: ~/build_only
    docker:
      - image: circleci/node:10.16.3
      - image: redis:5-alpine

    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
      - run: npm run build
      - run: npm run test
      - run: npm run test:integration
      - store_test_results:
          path: reports

  build-12:
    environment:
      COMMERCE_SDK_INPUT_DIR: ./test/raml/valid/
    working_directory: ~/build_only
    docker:
      - image: circleci/node:12.16.1
      - image: redis:5-alpine

    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
      - run: npm run build
      - run: npm run test
      - run: npm run test:integration
      - store_test_results:
          path: reports

  publish:
    working_directory: ~/build_and_publish
    executor:
      name: node/default
      tag: '10.16'
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
      - run: npm run build
      - run:
          name: Create npmrc file to authenticate with npm registry.
          command: echo "//registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN" > ~/.npmrc
      - run: npm run publish
workflows:
  version: 2
  build-and-test:
    jobs:
      - build:
          filters:
            tags:
              ignore: /^v.*/
      - build-12:
          filters:
            tags:
              ignore: /^v.*/

  build-test-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - build-12:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - confirm-publish-if-tagged:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          type: approval
          requires:
            - build
            - build-12
      - publish:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          requires:
            - confirm-publish-if-tagged


orbs:
  node: circleci/node@1.1
version: 2.1

