import {
  BaseClient,
  ClientConfig,
  Response,
  StaticClient,
  getHeaders,
  mergeHeaders
} from "@commerce-apps/core";
import type { CommonParameters } from "@commerce-apps/core";
import type { OperationOptions } from "retry";
import type { RequestInit } from "node-fetch";
import { defaultBaseUri } from "../runtime";
import { USER_AGENT_HEADER, USER_AGENT_VALUE } from "../../version";
import type {
    CompositeParameters,
    QueryParameters,
    RequireParametersUnlessAllAreOptional
} from "../../types";

import type {
    {{#imports}}
    {{className}},
    {{/imports}}
} from '../models/index{{importFileExtension}}';

export namespace {{#vendorExtensions}}{{#x-sdk-classname}}{{{ . }}}{{/x-sdk-classname}}{{^x-sdk-classname}}{{#lambda.titlecase}}{{#lambda.camelcase}}{{appName}}{{/lambda.camelcase}}{{/lambda.titlecase}}{{/x-sdk-classname}}{{/vendorExtensions}}{{^vendorExtensions}}{{#lambda.titlecase}}{{#lambda.camelcase}}{{appName}}{{/lambda.camelcase}}{{/lambda.titlecase}}{{/vendorExtensions}} {

{{#hasEnums}}
{{#operations}}
{{#operation}}
{{> apis.enum}}
{{/operation}}
{{/operations}}
{{/hasEnums}}

{{#operations}}
{{#operation}}
{{> apis.parameters}}
{{/operation}}
{{/operations}}

/**
* [{{appName}}](https://developer.salesforce.com/docs/commerce/commerce-api/references?meta={{#lambda.kebabcase}}{{appName}}{{/lambda.kebabcase}}:Summary)
* ==================================
*
* *{{{unescapedAppDescription}}}* <br />
*
* For instructions on how to retrieve access token for admin APIs: <a>https://developer.salesforce.com/docs/commerce/commerce-api/guide/authorization-for-admin-apis.html</a> <br /> <br />
* Example with admin auth
* 
* For API family, here is the list:
* Cdn: CdnZones
* Checkout: Orders, ShopperBaskets, ShopperOrders
* Customer: Customers, ShopperContexts, ShopperCustomers, ShopperLogin, ShopperSeo, SlasAdmin
* Experience: ShopperExperience
* Pricing: Assignments, Campaigns, Coupons, GiftCertificates, Promotions, ShopperGiftCertificates, ShopperPromotions, SourceCodeGroups
* Product: Catalogs, Products, ShopperProducts
* Search: ShopperSearch
* Seller: ShopperStores
*
* ```typescript
* import { {{#vendorExtensions}}{{x-api-family}}{{/vendorExtensions}}, ClientConfig } from "commerce-sdk";
* // or
* const { {{#vendorExtensions}}{{x-api-family}}{{/vendorExtensions}}, ClientConfig } = require("commerce-sdk");
* 
* const clientConfig: ClientConfig = {
*   parameters: {
*     clientId: "XXXXXX",
*     organizationId: "XXXX",
*     shortCode: "XXX",
*     siteId: "XX"
*   }
* };
* 
* token = { access_token: 'INSERT_ACCESS_TOKEN_HERE' };
* 
* clientConfig.headers['authorization'] = `Bearer ${token.access_token}`;
* const {{#lambda.camelcase}}{{appName}}{{/lambda.camelcase}}Client = new {{#vendorExtensions}}{{x-api-family}}{{/vendorExtensions}}.{{#lambda.titlecase}}{{#lambda.camelcase}}{{appName}}{{/lambda.camelcase}}{{/lambda.titlecase}}(clientConfig);
* ```
*
* <span style="font-size:.7em; display:block; text-align: right">
* API Version: 1.4.4<br />
* Last Updated: <br />  
* </span>
*
*/
export class {{#lambda.titlecase}}{{#lambda.camelcase}}{{appName}}{{/lambda.camelcase}}{{/lambda.titlecase}} extends BaseClient {

    constructor(config: ClientConfig) {
        super(config);

        if (!!!config.baseUri) {
            this.clientConfig.baseUri = defaultBaseUri;
        }

    }

{{#operations}}
{{#operation}}
{{> apis.endpoint}}
{{/operation}}
{{/operations}}
}
}
