/**
  * @type {{classname}}: {{{description}}}
  *
  * {{#vars}}@property {{baseName}}: {{{description}}}{{#pattern}}  
  * - **Pattern:** {{.}}{{/pattern}}{{#minLength}}  
  * - **Min Length:** {{.}}{{/minLength}}{{#maxLength}}  
  * - **Max Length:** {{.}}{{/maxLength}}{{^-last}}
  * {{/-last}}
  * {{/vars}} 
  */
export type {{classname}} = {
    {{#vars}}
    {{baseName}}{{^required}}?{{/required}}: {{#isArray}}{{#uniqueItems}}Array<{{#items}}{{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{^isDateTime}}{{^isDate}}{{{datatype}}}{{/isDate}}{{/isDateTime}}{{#isDateTime}}string{{/isDateTime}}{{#isDate}}string{{/isDate}}{{/isEnum}}{{/items}}>{{/uniqueItems}}{{^uniqueItems}}{{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{^isDateTime}}{{^isDate}}{{{datatype}}}{{/isDate}}{{/isDateTime}}{{#isDateTime}}string{{/isDateTime}}{{#isDate}}string{{/isDate}}{{/isEnum}}{{/uniqueItems}}{{/isArray}}{{^isArray}}{{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{^isDateTime}}{{^isDate}}{{{datatype}}}{{/isDate}}{{/isDateTime}}{{#isDateTime}}string{{/isDateTime}}{{#isDate}}string{{/isDate}}{{/isEnum}}{{/isArray}}{{#isNullable}} | null{{/isNullable}};
    {{/vars}}
} & { [key: string]: any }
{{#hasEnums}}
{{#vars}}
{{#isEnum}}
{{#stringEnums}}
export enum {{classname}}{{enumName}} {
{{#allowableValues}}
    {{#enumVars}}
    {{{name}}} = {{{value}}}{{^-last}},{{/-last}}
    {{/enumVars}}
{{/allowableValues}}
}
{{/stringEnums}}{{^stringEnums}}
export type {{classname}}{{enumName}} = 
{{#allowableValues}}
    {{#enumVars}}
    {{{value}}}{{^-last}}|{{/-last}}{{#-last}};{{/-last}}
    {{/enumVars}}
{{/allowableValues}}
{{/stringEnums}}
{{/isEnum}}
{{/vars}}
{{/hasEnums}}
