{{>licenseInfo}}

export const USER_AGENT_HEADER = "user-agent";
export const USER_AGENT_VALUE = "commerce-sdk@4.1.0"; // TODO: make this dynamic
export const defaultBaseUri = '{{#servers}}{{url}}{{/servers}}'
